.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.navbar .logor{
    height: 57px;
    width: 109px;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font: 20px;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.anchor-link {
    text-decoration: none;
    color: #fff;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;

}
@media (max-width:768px) {
    .navbar {
        margin: 20px 50px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;

    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;

    }

}

@media (max-width: 390px) {
    .navbar {
        margin: 10px 15px; /* Reduced margin for smaller devices */
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 20px;
        width: 30px; /* Adjusted size for smaller screens */
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 20px;
        left: 280px;
        width: 25px; /* Adjusted size for smaller screens */
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 20px;
        background-color: #1f0016;
        width: 300px; /* Reduced width for smaller devices */
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -300px;
    }

    .nav-menu li {
        font-size: 24px; /* Adjusted font size for smaller devices */
        padding-left: 70px; /* Adjusted padding for smaller screens */
        flex-direction: row;
        gap: 15px;
    }
}